* {
	margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
    text-align: center;
    min-height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10,80px);
    grid-gap: 0px;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}
  
.gamedashboard { 
  width: 40%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 0px;  
}

.player_scoreboard {
  width: auto;
  height: 50%;
  border:5px solid black; 
  text-align:center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px; 
  margin-bottom: 5px;
}

.hp_hopbar {
  width: 200px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: blueviolet;
}

#BatmanPicture {
  padding-top: 10px;
}

.btnAttack {
  width: 80px;
  height: 40px;
  font-size: 22px;
  border-radius: 8px;
  align-items: center;
  background-color: red;
  margin-bottom: 20px;
}

.btnDefence {
  width: 80px;
  height: 40px;
  font-size: 22px;
  border-radius: 8px;
  align-items: center;
  background-color: blue;
  margin-bottom: 20px;
}

#MarioPicture {
  padding-top: 10px;
}

.box {
    background-color: #444;
    border: 1px solid #000;
    padding: 20px;
    font-size: 125%;
}
.free {
      background-image:url(../images/grass.png);
}

.player1 {
    background-image:url(../images/player1.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}
  
.player2 {
    background-image:url(../images/player2.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}
  
.obstacle {
    background-image:url(../images/obstacle.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}

.sword {
    background-image:url(../images/sword.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}
  
.knife {
    background-image:url(../images/knife.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}

.AK {
    background-image:url(../images/AK.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}

.pistol {
    background-image:url(../images/pistol.png),url(../images/grass.png);
    background-position: center, auto;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
}

